*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: hsl(235, 16%, 14%);
  background-image: url("../images/bg-stars.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2.5rem;
  position: relative;
}
body::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 250px;
  background: url("../images/pattern-hills.svg");
  z-index: 2;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

section {
  margin-top: 200px;
}
section .container .row h1 {
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  text-align: center;
}
section .container .row .coutdown {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 40px;
}
section .container .row .coutdown .days,
section .container .row .coutdown .hours,
section .container .row .coutdown .minutes,
section .container .row .coutdown .seconds {
  color: #fff;
  height: 100%;
}
section .container .row .coutdown .days .number,
section .container .row .coutdown .hours .number,
section .container .row .coutdown .minutes .number,
section .container .row .coutdown .seconds .number {
  color: #f6617f;
  display: flex;
}
section .container .row .coutdown .days .number .top,
section .container .row .coutdown .days .number .bottom,
section .container .row .coutdown .days .number .flip-card .top-flip,
section .container .row .coutdown .days .number .flip-card .bottom-flip,
section .container .row .coutdown .hours .number .top,
section .container .row .coutdown .hours .number .bottom,
section .container .row .coutdown .hours .number .flip-card .top-flip,
section .container .row .coutdown .hours .number .flip-card .bottom-flip,
section .container .row .coutdown .minutes .number .top,
section .container .row .coutdown .minutes .number .bottom,
section .container .row .coutdown .minutes .number .flip-card .top-flip,
section .container .row .coutdown .minutes .number .flip-card .bottom-flip,
section .container .row .coutdown .seconds .number .top,
section .container .row .coutdown .seconds .number .bottom,
section .container .row .coutdown .seconds .number .flip-card .top-flip,
section .container .row .coutdown .seconds .number .flip-card .bottom-flip {
  height: 0.95em;
  line-height: 1.4;
  overflow: hidden;
  padding: 0.25em;
}
section .container .row .coutdown .days .number .top,
section .container .row .coutdown .days .number .flip-card,
section .container .row .coutdown .days .number .top-flip,
section .container .row .coutdown .hours .number .top,
section .container .row .coutdown .hours .number .flip-card,
section .container .row .coutdown .hours .number .top-flip,
section .container .row .coutdown .minutes .number .top,
section .container .row .coutdown .minutes .number .flip-card,
section .container .row .coutdown .minutes .number .top-flip,
section .container .row .coutdown .seconds .number .top,
section .container .row .coutdown .seconds .number .flip-card,
section .container .row .coutdown .seconds .number .top-flip {
  background: #34364f;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
section .container .row .coutdown .days .number .bottom,
section .container .row .coutdown .days .number .flip-card .bottom-flip,
section .container .row .coutdown .hours .number .bottom,
section .container .row .coutdown .hours .number .flip-card .bottom-flip,
section .container .row .coutdown .minutes .number .bottom,
section .container .row .coutdown .minutes .number .flip-card .bottom-flip,
section .container .row .coutdown .seconds .number .bottom,
section .container .row .coutdown .seconds .number .flip-card .bottom-flip {
  background-color: #34364f;
  display: flex;
  align-items: flex-end;
}
section .container .row .coutdown .days .number .flip-card,
section .container .row .coutdown .hours .number .flip-card,
section .container .row .coutdown .minutes .number .flip-card,
section .container .row .coutdown .seconds .number .flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  background-color: #34364f;
  overflow: hidden;
  font-size: 4rem;
  box-shadow: hsl(234, 17%, 12%) 0px 2px 3px, rgba(0, 0, 0, 0.3) 0px 10px 1px 0px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
section .container .row .coutdown .days .number .flip-card .top-flip,
section .container .row .coutdown .hours .number .flip-card .top-flip,
section .container .row .coutdown .minutes .number .flip-card .top-flip,
section .container .row .coutdown .seconds .number .flip-card .top-flip {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}
section .container .row .coutdown .days .number .flip-card .bottom-flip,
section .container .row .coutdown .hours .number .flip-card .bottom-flip,
section .container .row .coutdown .minutes .number .flip-card .bottom-flip,
section .container .row .coutdown .seconds .number .flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: translateX(90deg);
}
section .container .row .coutdown .days .number .left,
section .container .row .coutdown .hours .number .left,
section .container .row .coutdown .minutes .number .left,
section .container .row .coutdown .seconds .number .left {
  position: absolute;
  top: 40%;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #1a1c28;
}
section .container .row .coutdown .days .number .right,
section .container .row .coutdown .hours .number .right,
section .container .row .coutdown .minutes .number .right,
section .container .row .coutdown .seconds .number .right {
  position: absolute;
  top: 40%;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #1a1c28;
}
section .container .row .coutdown .days .title,
section .container .row .coutdown .hours .title,
section .container .row .coutdown .minutes .title,
section .container .row .coutdown .seconds .title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  margin-top: 30px;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}
@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}/*# sourceMappingURL=main.css.map */